*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
}
